<div class="container mx-auto mt-8 gap-4">
    <div class="gap-4 columns-2 sm:columns-3 md:columns-4 lg:columns-5 xl:columns-6">
        @for (img of images; track img.id; let idx = $index) {-->
        <!-- Skeleton loader -->
        <div [ngClass]="{'hidden':img.isLoaded}"
            class="m-5 bg-gray-200 rounded animate-pulse h-48 opacity-100 transition-opacity duration-500"></div>-->
        <!-- Imagenes reales -->
        <img (click)="removeImg(idx)" (load)="onImageLoad($event); img.isLoaded=true" [src]="img.download_url"
            [alt]="img.url" class="m-5 pointer object-cover w-full rounded opacity-0 transition-opacity duration-500"
            [ngClass]="{'hidden': !img.isLoaded}" load="lazy" />
        }
    </div>
</div>